<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/a"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocTruyen"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình đăng ký -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".tutruyen.TuTruyen"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".khampha.Khampha" />
        <activity android:name=".taikhoan.taikhoan" />
        <activity android:name=".admin.trangchu_admin" />
        <activity android:name=".admin.quanlytruyen" />
        <activity android:name=".admin.themtruyen"/>
        <activity android:name=".thongtintruyen.ChiTietTruyen"/>
        <activity android:name=".admin.ThemChuong"/>
        <activity android:name=".doctruyen.ReadStory"/>
        <activity android:name=".Ranking.Ranking"/>
        <activity android:name=".thongtintruyen.DanhGiaMain"/>
        <activity android:name=".admin.QuanLyNguoiDung"/>
        <activity android:name=".taikhoan.ThongTinTaiKhoan"/>
        <activity android:name=".taikhoan.DoiMatKhau"/>
        <activity android:name=".admin.DanhSachTruyenDanhGia"/>
        <activity android:name=".admin.ChiTietDanhGiaActivity"/>
        <activity android:name=".doctruyen.ListenStoryActivity"/>
        <activity android:name=".TimKiem.TimKiemActivity"/>


    </application>

</manifest>